# cache Python
**/__pycache__/
*.py[cod]
*.pyo

# vs code
.vscode/

# credenciais
*.env
.env

# sandbox.py
# For quick tests and experiments. Not for production.
sandbox.py
.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 