# cache Python
**/__pycache__/
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.log

# vs code
.vscode/

# credenciais
**/.env
.env

# Tests
sandbox.py
teste.ipynb

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.vercel